.combo-box {
    -fx-background-radius: 0px;
    -fx-pref-height: 60px;
}

.check-box > .box > .mark {
    -fx-padding: 10px;
}

.text-field {
    -fx-background-radius: 0px;
    -fx-pref-height: 60px;
}

.button {
    -fx-font: normal 12px "System";
    -fx-background-radius: 0px;
    -fx-pref-height: 60px;
}

.label {
    -fx-font: normal 12px "System";
}

/** BOTOES DO MENU **/
.botao-menu {
    -fx-font: normal 16px "System";
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 60px;
}

.botao-menu:hover {
    -fx-background-color: #2196F3;
    -fx-cursor: hand;
}

.botao-menu:pressed {
    -fx-background-color: #1976D2;
    -fx-cursor: hand;
}

/** TITULO **/
.titulo {
    -fx-font: bold 18px "System";
    -fx-text-fill: #000000ad;
}

/** RODA PE **/
.texto-rodape {
    -fx-font: normal 14px "System";
    -fx-text-fill: #FFFFFF;
}

/** SCROLL PANE **/
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: #ECEFF1;
}


/** BOTOES FLATS */
.botao-flat {
    -fx-font: bold 12px "System";
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
    -fx-text-fill: #000000ad;
}

.botao-flat:hover {
    -fx-background-color: #B0BEC5;
    -fx-cursor: hand;
}

.botao-flat:pressed {
    -fx-background-color: #90A4AE;
}

/** BOTOES DA MESAS **/
.botao-mesa-aberta {
    -fx-font: bold 12px "System";
    -fx-background-radius: 0px;
    -fx-background-color: #BBFFBB;
    -fx-border-color: #d0d0d0;
    -fx-pref-height: 125px;
}

.botao-mesa-aberta:hover {
    -fx-background-color: #F2FFF2;
}

.botao-mesa-aberta:pressed {
    -fx-background-color: #9BFF9B;
}

.botao-mesa-fechada {
    -fx-font: bold 12px "System";
    -fx-background-radius: 0px;
    -fx-background-color: #FFD9D9;
    -fx-border-color: #d0d0d0;
    -fx-pref-height: 125px;
}

.botao-mesa-fechada:hover {
    -fx-background-color: #FFEAEA;
}

.botao-mesa-fechada:pressed {
    -fx-background-color: #FFB9B9;
}

/** BOTOES MENU SOLTO **/
.botao-menu-solto {
    -fx-background-color: #1E88E5;
    -fx-background-radius: 0px;
    -fx-font: bold 12px "System";
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 60px;
}

.botao-menu-solto:hover {
    -fx-background-color: #2196F3;
    -fx-cursor: hand;
}

.botao-menu-solto:pressed {
    -fx-background-color: #1976D2;
    -fx-cursor: hand;
}

.date-picker {
    -fx-background-radius: 0px;
    -fx-font: normal 12px "System";
}

.date-picker > .arrow-button > .arrow {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.date-cell {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

.date-picker-popup {
    -fx-font: normal 12px "System";
}

.date-picker-popup > * > .spinner > .button {
    -fx-pref-width: 60px;
}

/** BOTAO PRODUTO **/
.botao-produto {
    -fx-border-color: #d0d0d0;
    -fx-font: bold 12px "System";
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0px;
    -fx-pref-height: 100px;
    -fx-pref-width: 150px;
}

.labelListNegrito{
    -fx-font: bold 12px "System";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ECEFF1;
}