/** BOTÕES DO MENU **/
.botao-menu {
	-fx-background-radius: 0px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000ad;
}

.botao-menu:hover {
    -fx-background-color: #F7F7F7;
    -fx-cursor: hand;
}

/** BOTÕES FLATS */
.botao-flat {
	-fx-font: bold 12px "System";
	-fx-background-radius: 0px;
	-fx-background-color: transparent;
	-fx-text-fill: #000000ad;
}

.botao-flat:hover {
	-fx-background-color: #B0BEC5;
    -fx-cursor: hand;
}

.botao-flat:pressed {
	-fx-background-color: #90A4AE;
}

/** BOTÕES DA MESAS **/
.botao-mesa-aberta {
	-fx-background-radius: 0px;
    -fx-background-color: #BBFFBB;
    -fx-border-color: #d0d0d0;
    -fx-border-insets: 1 1 1 1;
}

.botao-mesa-aberta:hover {
    -fx-background-color: #F2FFF2;
}

.botao-mesa-aberta:pressed {
    -fx-background-color: #9BFF9B;
}

.botao-mesa-fechada {
	-fx-background-radius: 0px;
    -fx-background-color: #FFD9D9;
    -fx-border-color: #d0d0d0;
    -fx-border-insets: 1 1 1 1;
}

.botao-mesa-fechada:hover {
    -fx-background-color: #FFEAEA;
}

.botao-mesa-fechada:pressed {
    -fx-background-color: #FFB9B9;
}